* {
  margin: 0;
  padding: 0;
}

body {
  background: url('../images/body.jpg');
  background-size: cover;
  /* background-position: center; */
  height: auto;
  font-family: var(--lato);
}

.padding-1 {padding: 1em !important;}
