/* ========================== hero-wrapper ===================================*/

.hero-wrapper {
  /* background: url('../images/bg-top.jpg'); */
  background-position: center;
  background-size: cover;
  min-height: calc(100vh - 114.13px);
  width: auto;

  &-description {
    font-weight: 400;
    font-size: 1.6em;
    text-transform: uppercase;
    color: white;
    margin: .3em;
    font-family: var(--montserrat);
  }

  &-cta {
    background-color: rgba(0,0,0,.4);
    justify-content: center;
    padding: 3px;
    z-index: 3;
    width: 100%;
    position: absolute;

      & h3 {
        text-transform: uppercase;
        font-weight: light;
        color: white;
        font-size: 1.2em !important;
      }

      & a {
        color: white;
        transition: all .3s ease;

        &:hover {
          color: var(--yellow);
        }
      }
    }

  &-layer {
    height: 400px;
    margin-top: 10px;
    position: absolute;
    z-index: 1;
  }

  &-opacity {
    background-color: rgba(0,0,0,.4);
    min-height: 410px;
  }

  &-slider {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  &-scroll {
    margin-top: 1em;
    text-transform: uppercase;
    color: white;
    font-family: var(--montserrat);
    text-align: center;

    & p {
      margin-bottom: 0 !important;
    }

    & i {
      margin-top: 0 !important;
      padding-top: 0 !important;
      font-size: 2em;
    }
  }
}

.test {border: 1px solid red;}
