/* ========================= plans-section ===================================*/

a {
  border-radius: 0 !important;
  text-transform: uppercase;
  font-weight: bold;
}

.plans-section {
  min-height: auto;
  margin-top: 6em;
  margin-bottom: 6em;

  &-move {
    padding-right: 1em !important;

    & img {
      cursor: pointer;
    }
  }
  &-tonify {
    padding-left: 1em !important;

    & img {
      cursor: pointer;
    }
  }
  &-scroll {
    text-transform: uppercase;
    color: var(--dark);
    font-family: var(--montserrat), sans-serif;
    text-align: center;
    position: absolute;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    animation: arrow 3s infinite ease-in-out;

    & p {
      margin-bottom: 0 !important;
    }

    & i {
      margin-top: 0 !important;
      padding-top: 0 !important;
      font-size: 2em;
    }
  }
}

@keyframes arrow {
  0% {
    margin-top:0px;
  }
  30% {
    margin-top:-10px;
  }
  60% {
    margin-top:20px;
  }
  100% {
    margin-top:0px;
  }
}

.more {
  background: url(../images/bg-nav.png);
  background-position: center;
  background-size: contain;
  background-color: rgba(0,0,0,.5);

  &:hover {
    background-color: rgba(0,0,0,.7);
  }
}

/* medias queries */
@media screen and (max-width: 768px) {
  .plans-section {
    padding-top: 3em;

    &-move {
      padding-right: 0 !important;
    }
    &-tonify {
      padding-left: 0 !important;
    }
  }
}
